# Ignore LaTeX intermediates
*.pdf*
*.pyg
*.log
*.out
*.aux
_minted-*/
# BibTeX
*.bbl
*.blg

# Ignore vim backups files
*.swp

# aspell backups
*.bak

# Ignore compilation intermediates
# JAVA
*.jar
# C/gcc/LLVM
*.o
*.bc

# Python
*.pyc

# Experimental Results
*.results
